<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      <a href="/" class="btn">Home</a>
      <a href="/feed.xml" class="btn">RSS</a>
    </section>

    <section class="main-content">
      <h1>{{ page.title }}</h1>
      <h5>Posted {{ page.date | date: "%-d %B %Y" }}</h5>

      {{ content }}
		
	  <h6>Categories:
	  	{% for category in page.categories %}
	  		{{ category }}
	  	{% endfor %}
	  </h6>
      <footer class="site-footer">
        <span class="site-footer-credits">(c) <a href="https://twitter.com/brian_klaas">Brian Klaas</a>. All rights reserved.</span>
      </footer>
    </section>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121359622-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121359622-1');
    </script>
  </body>
</html>